    </div>
    <style>
    .showcase-wrapper {background-image: url("{{ site.baseurl }}/images/showcase.jpg");}
    </style>
    <div class="showcase-wrapper sticky">
      <div class="showcase-text">
          {% for post in site.posts limit: 1 %}
          <img src="{{ site.baseurl }}/images/bio_main2.png"><br><br><a href="{{ site.baseurl }}/about.html"><button type="button" class="btn btn-default showcase-button">Biography & CV</button></a>
          {% endfor %}
      </div>
    </div>
    <div class="container">
